input + span {
    position: relative;
}

input:invalid, textarea:invalid {
    border: 2px solid red;
}

#btnAdd {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: forestgreen;
    color: white;
    cursor: pointer;
    border-radius: 90px;
}

    #btnAdd:hover {
        background-color: #555;
    }

.swal-height {
    height: max-content;
    width: 600px;
}

@media (max-width: 800px) {
    .swal-height {
        height: 300px;
        width: 300px;
    }
}

.swal2-close {
    background-color: #555;
    border-radius: 90px;
}

.req {
    color: red;
}

.select2Required {
    border: 2px solid red !important;
}

div.gallery {
    border: 1px solid #ccc;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

div.desc {
    padding: 15px;
    text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.textareaEdit {
    height: 40px;
    min-height: 40px !important;
    max-height: 108px !important;
}

.textareaEditNotLimit {
    height: 40px;
    min-height: 40px !important;
    max-height: 252px !important;
}

span.select2-container {
    width: 100% !important;
    max-width: auto;
}

.height40px, .select2-container, .select2-selection, .select2-selection__arrow {
    height: 40px !important;
}

.select2-selection {
    align-content: center;
}

.CardOnHover:hover {
    cursor:pointer
}

span.font-bold {
    font-weight: bold;
}