@{
    ViewData["Title"] = "Movie List";
}

<input type="search" id="txtSearch" class="form-control my-2" placeholder="Search..." aria-label="Search">

<div class="container p-0" id="custom-cards">
</div>

<footer class="border-top footer text-muted d-none" id="ft_card">
    <div class="container">
        &copy; 2025 - My Purchased Book
    </div>
</footer>
<script src="Contents/js/jquery-3.7.1.min.js"></script>
@* <script src="Scripts/Home/Home.js"></script>
<script src="Scripts/Utils/Utils.js"></script> *@

<script type="text/javascript">
    (function(){
         var date = new Date().getTime();
         var e = document.getElementsByTagName("script")[0];
         var d = document.createElement("script");
         d.src = "Scripts/Home/Home.js?ver="+date+"";
         d.type = "text/javascript";
         d.async = true;
         d.defer = true;
         e.parentNode.append(d,e);
     })();
</script>

<script type="text/javascript">
    (function(){
         var date = new Date().getTime();
         var e = document.getElementsByTagName("script")[0];
         var d = document.createElement("script");
         d.src = "Scripts/Utils/Utils.js?ver="+date+"";
         d.type = "text/javascript";
         d.async = true;
         d.defer = true;
         e.parentNode.append(d,e);
     })();
</script>