<!-- Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h1 class="modal-title fs-5" id="AddBookLabel">Add Book</h1>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <span id="spanTitle" class="col-form-label">Title <span class="req">*</span></span>
                    <textarea class="form-control textareaEdit addBook" id="Title" maxlength="200" required></textarea>
                </div>
                <div class="input-group mb-3">
                    <span id="spanISBN" class="input-group-text">ISBN <span class="req">*</span></span>
                    <input type="text" id="ISBN" pattern="[0-9].{9,}" minlength="10" maxlength="13" class="form-control height40px addBook" required>
                </div>
                <div class="mb-3">
                    <span id="spanAuthor" class="col-form-label">Author <span class="req">*</span></span>
                    <select id="AuthorSelect2" multiple required class="addBook">
                    </select>
                </div>
                <div class="mb-3">
                    <span id="spanPublisher" class="col-form-label">Publisher <span class="req">*</span></span>
                    <select id="PublisherSelect2" required class="addBook">
                    </select>
                </div>
                <div class="mb-3">
                    <span id="spanPublishDate" class="col-form-label">Publish Date <span class="req">*</span></span>
                    <input type="text" id="PublishDate" class="form-control height40px addBook" required>
                </div>
                <div class="mb-3">
                    <span id="spanCategories" class="col-form-label">Categories</span>
                    <select id="CategoriesSelect2" multiple class="addBook">
                    </select>
                </div>
                <div class="mb-3">
                    <span id="spanDescription" class="col-form-label">Description</span>
                    <textarea class="form-control textareaEditNotLimit addBook" id="Description"></textarea>
                </div>
                <div class="mb-3">
                    <span id="spanImage" class="col-form-label">Image</span>
                    <input class="form-control height40px addBook" type="file" id="Image" accept=".jpg, .jpeg, .png">
                </div>

                <div class="mb-3 d-flex justify-content-center d-none" id="divImage">
                    <img id='output' style="height:100px; width:100px;">
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" id="btnConfirm">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="../Contents/js/select2.min.js"></script>
<script src="../Scripts/Modal/Modal.js"></script>